name: Build/publish urunit images

on:
  workflow_call:
    inputs:
      runner:
        type: string
        default: '["base", "dind", "2204"]'
      runner-archs:
        type: string
        default: '["amd64", "aarch64"]'
      runner-arch-map:
        type: string
        default: '[{"amd64":"x86_64", "aarch64":"aarch64", "armv7l":"armv7l"}]'
      registry:
        type: string
        default: 'harbor.nbfc.io'
      version-tag:
        type: boolean
        default: false
    secrets:
      GIT_CLONE_PAT:
        required: false
      harbor_user:
        required: true
      harbor_secret:
        required: true

jobs:
  build-all:
    strategy:
      matrix:
        arch: ["${{ fromJSON(inputs.runner-archs) }}"]
    runs-on: ${{ format('{0}-{1}', join(fromJSON(inputs.runner), '-'), matrix.arch) }}
    permissions:
      id-token: write # to complete the identity challenge with sigstore/fulcio when running outside of PRs
    continue-on-error: true
    env:
      IMAGE_NAME: ${{ inputs.registry }}/${{ github.repository }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set short SHA
        run: echo "SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Log into registry ${{ inputs.registry }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.harbor_user }}
          password: ${{ secrets.harbor_secret }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=sha,prefix=${{ matrix.arch }}-
 
      - name: Build and push urunit image for ${{ matrix.arch}}
        id: build-and-push
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d # master
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          file: "Dockerfile"
          provenance: false
 
      - name: Get image digest
        run: |
          echo "IMAGE_DIGEST=$(docker inspect \
          ${{ env.IMAGE_NAME }}:${{ matrix.arch }}-${{ env.SHA_SHORT }} | \
          jq -r '.[0].Id')" >> $GITHUB_ENV

      - name: Install cosign
        uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # main

      - name: Sign the published Docker image
        env:
          COSIGN_EXPERIMENTAL: "true"
          DIGEST: ${{steps.build-and-push.outputs.digest}}
        run: |
          cosign sign --yes ${{ env.IMAGE_NAME }}@$DIGEST \
          -a "repo=${{github.repository}}" \
          -a "workflow=${{github.workflow}}" \
          -a "ref=${{github.sha}}" \
          -a "author=Nubificus LTD"

  manifest:
    needs: [build-all]
    runs-on: base-dind-2204-amd64
    permissions:
      id-token: write # to complete the identity challenge with sigstore/fulcio when running outside of PRs
    env:
      IMAGE_NAME: ${{ inputs.registry }}/${{ github.repository }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set short SHA
        run: echo "SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Log into registry ${{ inputs.registry }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.harbor_user }}
          password: ${{ secrets.harbor_secret }}

      - name: Set Docker tag based on branch or PR
        id: tag
        run: |
          if [[ ${{ inputs.version-tag }} == true ]]; then
            echo "Version change detected. Using version: $( cat VERSION )."
            echo "TAG=$( cat VERSION ) " >> $GITHUB_ENV
          elif [[ "${GITHUB_REF##*/}" == "main" ]]; then
            echo "Change in main branch detected. Using latest tag."
            echo "TAG=latest" >> $GITHUB_ENV
          else
            SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
            echo "Using tag: ${SHORT_SHA}."
            echo "TAG=${SHORT_SHA}" >> $GITHUB_ENV
          fi

      - name: Process runner architectures and create docker manifest
        id: create-manifest
        run: |
          runner_archs='${{ inputs.runner-archs }}'  # Using the input string array
          amend_command=""

          # Loop over the architectures and build the amend command
          for arch in $(echo $runner_archs | jq -r '.[]'); do
            amend_command+=" --amend ${{ env.IMAGE_NAME }}:$arch-${{ env.SHA_SHORT }}"
          done

          echo "-------------------- Amend command constructed -------------------"
          echo "$amend_command"

          # Create the docker manifest with the amend command
          docker manifest create ${{ env.IMAGE_NAME }}:${{ env.TAG }} $amend_command

          # Optionally push the manifest (comment out if not needed)
          VAR=`docker manifest push ${{ env.IMAGE_NAME }}:${{ env.TAG }} | tail -1`
          echo "manifest_sha=$VAR" >> "$GITHUB_OUTPUT"

      - name: Install cosign
        uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # main

      - name: Sign the published Docker image
        env:
          COSIGN_EXPERIMENTAL: "true"
          DIGEST: ${{steps.create-manifest.outputs.manifest_sha }}
        run: |
          cosign sign --yes ${{ env.IMAGE_NAME }}@$DIGEST \
          -a "repo=${{github.repository}}" \
          -a "workflow=${{github.workflow}}" \
          -a "ref=${{github.sha}}" \
          -a "author=Nubificus LTD"
